TargetDirectories.txt
CMakeCXXCompilerId.cpp
conaninfo.txt
conan_imports_manifest.txt
CMakeCache.txt

*.vcxproj
*.vcxproj.filters
*.ilk
*.pdb
*.dll
*.log
*.tlog
*.lastbuildstate
*.obj
*.sln
*.db
*.opendb
*.exp
*.cmake
*.bin
*.c
*.lib
*.exe
*.rule
*.cxx
*.stamp
*.depend
*.list
*.check_cache
*.suo
